{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],

  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "env": {
    "node": true,
    "jasmine" : true
  },

  "globals": {
    "Promise": true
  },

  "plugins": [
    "@typescript-eslint"
  ],

  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true,
        "allowHigherOrderFunctions": true,
        "allowTypedFunctionExpressions": true
      }
    ],
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      {
        "accessibility": "no-public"
      }
    ],
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "@typescript-eslint/interface-name-prefix": [
      "error",
      "always"
    ],
    "@typescript-eslint/no-explicit-any": [
      "off"
    ],
    "no-prototype-builtins": "off"
  }
}
